.dep.inc
.idea/
build/
data
dist/
export/
nbproject/
neo/
netbase
netbase.dSYM/
src/.svn
synset-methods.txt
to_update
todo.txt

/Default
/debug
/Default
/Default
/Default
/Default
/Default
/release
import/babelnet
import/babelnet-2.0.0-core-dump
import/babelnet-2.0.0-core-lucene
import/freebase.data.txt import/freebase.data.txt.2 import/freebase.labels.de.txt import/freebase.labels.de.txt.bak import/freebase.labels.en.txt import/freebase.labels.en.txt.2
import/missing/
import/wins.csv
netbase_results.html
adjust.sh

