**/.AppleDouble/
**/*.origimport/dbpedia_de/
*.orig
.*.orig
.dep.inc
.idea/
build/
data
dist/
export/
nbproject/
neo/
netbase
netbase.dSYM/
src/.svn
synset-methods.txt
to_update
todo.txt
/Default
/debug
/release
import/babelnet
import/babelnet-2.0.0-core-dump
import/babelnet-2.0.0-core-lucene
import/freebase.data.txt import/freebase.data.txt.2 import/freebase.labels.de.txt import/freebase.labels.de.txt.bak import/freebase.labels.en.txt import/freebase.labels.en.txt.2
import/missing/
import/wins.csv
netbase_results.html
adjust.sh
import/babelnet/images.wn.all.csv
import/data/images.txt
import/freebase.data.txt.2 import/freebase.labels.de.txt import/freebase.labels.en.txt import/freebase.labels.en.txt.2 import/freebase.rb import/freebase.seds.sh
netbase.build/
.cproject
.project
.settings/
CMakeLists.txt
Q5.txt
a.html
blueprints-netbase
commands.log
deploy.sh
import/Fordham_University.students
import/LOOKUP_DBPEDIA
import/Wikipedia_Titles_de.txt
import/adressen.txt
import/clean.sh
import/condense-nt.sh
import/condense_wikidata.sh
import/data.txt
import/dbpedia_de/
import/dbpedia_en
import/dewiki-20141006-all-titles
import/entities.txt
import/freebase.data.txt.2
import/freebase.labels.de.txt
import/freebase.labels.en.txt
import/freebase.labels.en.txt.2
import/freebase.rb
import/freebase.seds.sh
import/images_de_sql.txt
import/images_en_uris_de.nt
import/test.csv
import/test.n3
import/units.txt
import/wiki.pages.csv
import/wiki_listen.txt
import/wikidata/
import/wordnet
import/yago
labels.csv
labels.en.csv
lost
main.cpp
missing.list
netbase.ipr
netbase.iws
netbase.png
netbase.warnings
query.log
run-remote.sh
test.json
test/
import
import/babelnet/translations.tsvnetbase.xcodeproj/xcuserdata
page.link.sh
node-netbase/page.link.sh
logs/
cmake-build-debug
cmake_install.cmake
netbase.xcodeproj/.AppleDouble/
CMakeCache.txt
CMakeFiles/
netbase.cbp
