.netbase{
	background-color: #EEF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}
.no_underline{
	text-decoration:none;
}
.nolink{
	text-decoration:none;
}
#netbase_results a{
	color: black;
	border: 0 none;
	cursor: pointer;
	text-decoration:none;
}
#netbase_results{
	/*padding: 5px;*/
	padding-left: 15px;
	color: black;
	background-color: white;
	border-width: 3px;
	border-style: double;
	border-color: #22B;
	text-decoration:none;
	display: none; 	/* until all results are loaded*/
}
form{
	margin: 5px;
}

table.sorted {
    font-family: "Lucida Sans Unicode", sans-serif;
    border-collapse: collapse;
    border-width: 3px;
    border-spacing: 1px;
    border-style: double;
    border-color: lightsteelblue;
}

table.sorted th {
    border-width: 1px ;
    padding: 2px;
    border-style: ridge;
    border-color: gray;
    background-color: rgb( 255, 255, 240 );
}

table.sorted td {
    border-width: 1px;
    padding: 2px;
    border-style: dotted;
    border-color: gray;
}

table.sorted tr.odd {
    background-color: aliceblue;
}

table.sorted tr.even {
    background-color: white;
}